<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>{% block title %}oBeattie{% endblock %}</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/media/css/base.css" media="screen,projection" />
    
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div id="header" class="hide"><div class="container">
        <h1 class="logo"><a href="http://{{ site.domain }}/">Oliver Beattie</a></h1>
    </div></div>
    
    <div id="featurette"><div class="container">
        {% block featurette %}{% endblock %}
    </div></div>
    
    <div id="content"><div class="container">
        {% block content %}{% endblock %}
    </div></div>
</body>
</html>
